// colors //
// main background-color: black;
// font-color: white;
// font-family: Helvetica, Arial, sans-serif;
// on button hover: gray;
// default font-size: 1rem;

///////////////////////////////

// weather logos //
// https://peter.build/weather-underground-icons/

//defaults
a,
h1,
ul,
li,
p,
.main-page-glance,
.api-container,
.commute-summary,
.weather-current-temp {
  color: white;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: black;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
}

.main-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
}

.root {
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
}

.api-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
}

.glance-summary,
.calendar-event-items {
  list-style: none;
  text-align: center;
}

.glance-summary-item {
  margin-top: 5px;
}

.link-to-button-styling,
button {
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  transition: 2s;
  &:hover {
    background-color: gray;
    transition: 0.5s;
  }
}

button {
  margin: 1rem;
}

.main-page-nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 98%;
}

.main-page-glance {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-signup-button {
  font-size: 1.5rem;
  margin: 0.8rem;
  &:hover {
    filter: brightness(90%);
  }
}

.welcome-message {
  color: white;
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.8rem 0;
  text-align: center;
}

.weather-slider {
  max-width: 100vw;
  padding-bottom: 2rem;
}

.weather-block {
  display: flex;
  list-style-type: none;
  width: 100%;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.weather-timeline {
  display: flex;
  list-style-type: none;
  overflow-x: scroll;
  overflow-y: hidden;
}
.weather-current {
  align-items: center;
  display: flex;
  align-items: center;
}

.weather-current-temp {
  font-size: 5rem;
}

.weather-timeblock {
  display: flex;
  flex-direction: column;
  min-width: 3rem;
  text-align: center;

  // makes the dot invisible
  .transparent {
    color: transparent;
  }
}

.weather-time-text {
  font-size: 1rem;
}

.weather-logo {
  max-height: 10rem;
  max-width: 10rem;
  min-height: 10rem;
  min-width: 10rem;
}

.weather-clear {
  background-color: #eeeef5;
  color: #eeeef5;
  height: 100%;
  width: 100%;
}

.weather-nt_clear {
  background-color: rgb(59, 59, 59);
  color: rgb(59, 59, 59);
  height: 100%;
  width: 100%;
}

.weather-cloudy {
  background-color: grey;
  color: grey;
  height: 100%;
  width: 100%;
}

.weather-partlycloudy {
  background-color: #d5dae2;
  color: #d5dae2;
  height: 100%;
  width: 100%;
}

.weather-nt_partlycloudy {
  background-color: rgb(94, 94, 94);
  color: rgb(94, 94, 94);
  height: 100%;
  width: 100%;
}

.weather-rain {
  background-color: lightblue;
  color: lightblue;
  height: 100%;
  width: 100%;
}

.weather-sleet {
  background-color: rgb(155, 150, 190);
  color: rgb(155, 150, 190);
  height: 100%;
  width: 100%;
}

.weather-snow {
  background-color: #aba4db;
  color: #aba4db;
  height: 100%;
  width: 100%;
}

.weather-unknown {
  background-color: #eeeef5;
  color: #eeeef5;
  height: 100%;
  width: 100%;
}

.weather-fog {
  background-color: #d5dae2;
  color: #d5dae2;
  height: 100%;
  width: 100%;
}

.commute-summary {
  display: flex;
  flex-direction: column;
}

.commute-summary-item {
  margin: 0 auto;
}

.calendar-event-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.calendar-event-items > a {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 5px;
}

.session-form-page {
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1527766833261-b09c3163a791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.signup-form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto 0;
  width: 100%;
  min-height: 93vh;
}

.session-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.session-form > input {
  border-radius: 3px;
  min-height: 2rem;
  min-width: 17rem;
  margin: 10px 0;
  width: 80%;
  &:focus {
    outline: none;
  }
}

.form-submit-button {
  width: 100%;
}

.form-error {
  font-size: 0.8rem;
  list-style-type: none;
}

// settings menu button and animations

.settings-button-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  z-index: 5;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

// modal stuff
.modal-content-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  min-width: 80%;
  overflow: scroll;
}

.time-input-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-input-label {
  color: white;
  display: inline;
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.time-input {
  border-radius: 3px;
  color: gray;
  min-height: 2rem;
  margin: 10px 0;
  &:focus {
    outline: none;
  }
  font-family: Helvetica, Arial, sans-serif;
}

.transit-container {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  width: 100vw;
  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
      background-color: #181818;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 0.5rem;
      width: 80%;
      ul {
        max-width: 20rem;
        li {
          max-width: 20rem;
          width: 100%;
          p {
            max-width: 20rem;
          }
        }
      }
    }
  }
}

.transit-icon {
  max-height: 1.2rem;
  min-height: 1.2rem;
  margin-right: 1rem;
  filter: brightness(150%);
}

.transit-icon-and-description {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

.step-instructions-and-duration {
  font-size: 0.9rem;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  min-width: 12rem;
  div {
    font-size: 1rem;
    color: white;
  }
  a {
    filter: brightness(80%);
    font-size: 3rem;
    &:hover {
      color: white;
      filter: brightness(100%);
    }
  }
}
.about {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  filter: brightness(80%);
  transition: 0.3s;
  &:hover {
    filter: brightness(100%);
    cursor: pointer;
    transition: 0.3s;
  }
}
.about-us-container {
  background-color: #181818;
  border-radius: 10px;
  height: 28rem;
  padding: 1rem;
  overflow: scroll;
  div {
    align-items: center;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    justify-content: center;
    margin: 0.5rem 0;
    .about-member {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      img {
        border-radius: 10rem;
        max-height: 10rem;
      }
      a {
        margin-bottom: 0.5rem;
        img {
          border-radius: 0;
          max-height: 2rem;
          filter: brightness(80%);
          transition: 0.3s;
          &:hover {
            filter: brightness(100%);
            transition: 0.3s;
          }
        }
      }
      i {
        font-size: 2rem;
        filter: brightness(80%);
        transition: 0.3s;
        &:hover {
          filter: brightness(100%);
          transition: 0.3s;
        }
      }
      .pro-links {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 10rem;
        margin: 0.5rem 0;
      }
    }
  }
}

@media (min-width: 600px) {
  .weather-timeline {
    justify-content: center;
  }

  .main-page-nav-bar {
    padding: 1rem;
  }

  .main-page-nav-bar > * {
    margin: 0px 1rem;
  }

  .welcome-message {
    font-size: 1.8rem;
  }
}

@media (max-width: 850px) {
  .logout-button {
    margin-right: 3rem;
  }
}

@media (min-width: 1000px) {

  .calendar-events-summary {
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    width: 45%;
    ul {
      max-width: 20rem;
      text-align: left;
      h1 {
        font-size: 36px;
      }
      li {
        max-width: 20rem;
        width: 100%;
        p {
          max-width: 20rem;
        }
      }
    }
  }
  .welcome-message {
    font-size: 3rem;
  }

  .main-page-nav-bar {
    font-size: 1.5rem;
  }

  .link-to-button-styling {
    font-size: 1.5rem;
  }

  .main-signup-button {
    font-size: 2rem;
  }

  .transit-container {
    font-size: 1.5rem;
    ul {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 90%;
      li {
        min-width: 15rem;
        max-width: 45rem;
        margin: 0 1rem;
        ul {
          display: flex;
          flex-direction: column;
          max-width: 45rem;
          li {
            margin: 0;
            max-width: 45rem;
            padding: 0;
            p {
              max-width: 45rem;
              div {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .transit-icon-and-description {
    justify-content: start;
  }

  .weather-timeblock {
    min-width: 6rem;
  }

  .about-us-container {
    background-color: #181818;
    border-radius: 10px;
    height: 40rem;
    padding: 1rem;
    overflow: scroll;
    div {
      align-items: center;
      background-color: #181818;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      justify-content: center;
      text-align: start;
      .about-member {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.5rem;
        width: 100%;
        img {
          border-radius: 10rem;
          max-height: 10rem;
        }
        a {
          img {
            border-radius: 0;
            max-height: 2rem;
            filter: brightness(80%);
            transition: 0.3s;
            &:hover {
              filter: brightness(100%);
              transition: 0.3s;
            }
          }
        }
        i {
          font-size: 2rem;
          filter: brightness(80%);
          transition: 0.3s;
          &:hover {
            filter: brightness(100%);
            transition: 0.3s;
          }
        }
        .pro-links {
          flex-direction: row;
          justify-content: space-between;
          width: 10rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .footer {
    .about {
      font-size: 2rem;
    }
    width: 20rem;
    a {
      font-size: 5rem;
    }
  }
}

.calendar-events-summary {
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    width: 35%;
    ul {
      max-width: 20rem;
      text-align: left;
      h1 {
        font-size: 36px;
      }
      li {
        max-width: 20rem;
        width: 100%;
        p {
          max-width: 20rem;
        }
      }
    }
  }